winotify

opencv-python

requests

psutil

winotify

lxml_html_clean

gradio_client

colorlog

yaspin

pygame

edge_tts

comtypes

pycaw

PyAudio

pywhatkit

wmi

scipy

webdriver_manager

selenium

Appopener

rich

groq

googlesearch-python
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability